/*body styling*/

body {
  margin: 0px;
  padding: 0px;
  font-family: Cantarell, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.active {
  font-size: 1.1em;
}

/*Navigation bar*/

.main-header img {
  max-width: 115px;
  padding: 10px;
}

.main-header {
  border-top: solid 15px #000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  position: relative;
}

header a {
  text-decoration: none;
  color: #000;
}

nav {
  display: none;
  background: #FFF;
  top: 105px;
  right: 0px;
  text-align: right;
  position: absolute;
  max-width: 800px;
  padding: 0px 25px;
}

nav li {
  display: block;
  padding: 10px 10px;
}

nav ul {
  padding-left: 0px;
}

nav a {
  font-weight: bold;
}

.fa-bars {
  padding-right: 10px;
}

#hamburger-menu {
  display: none;
}

 #hamburger-menu:checked ~ nav {
  display: block;
}

/*Search bar*/

#search {
  top: 125px;
  right: 70px;
  display: none;
  position: absolute;
  background: #FFF;
  padding: 5px;
  border: 1px solid #ebebeb;
}

.search-button {
  top: 127px;
  right: 30px;
  display: none;
  position: absolute;
  background: #EBEBEB;
  border: none;
  padding: 5px;
}

header input {
  padding: 0px;
}

#search-icon {
  display: none;
}

#search-icon:checked ~ #search {
  display: block;
}

#search-icon:checked ~ .search-button {
  display: block;
}

/*Buttons*/

.cta-black {
  font-size: 0.6em;
  border: solid 1px #FFF;
  padding: 4px 8px;
}

.cta-white {
  font-size: 1em;
  background: #FFF;
  color: #000;
  font-weight: bold;
  padding: 6px 12px;
  margin-top: 10px;
}

.cta-green {
  font-size: 1em;
  background: green;
  color: #FFF;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
}

/*Index Page*/

.giftcard {
  text-align: center;
  width: 100%;
  font-size: 0.5em;
  background-color: #000;
  color: #FFF;
  padding: 2px 0px;
  margin: auto;
  display: block;
  text-decoration: none;
}

.frontpage-sale {
  background-image: url(../images/sale_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  height: 500px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  color: #FFF;
}

.frontpage-sale h1 {
  font-size: 1.4em;
}

.frontpage-sale h2  {
  font-size: 1.2em;
}

.frontpage-scott {
  background-image: url(../images/scott_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  text-align: center;
  height: 500px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  color: #FFF;
}

.frontpage-products h3 {
  text-align: center;
}

.frontpage-products-all {
  display: flex;
  flex-direction: column;
}

.frontpage-products-upper,
.frontpage-products-lower {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 10px;
}

.frontpage-product-title-and-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.frontpage-products-upper p, h4  {
  margin: 0px 5px;
}

.frontpage-products-lower p, h4  {
  margin: 0px 5px;
}

.frontpage-products-all p {
  padding: 0px 5px;
}

.selected-offers {
  text-align: center;
  padding: 20px 0px;
}

/*Product pages*/

.jacket-tile img {
  max-width: 250px;
}

.jacket-tile {
  margin: auto;
  max-width: 250px;
}

.jacket-tile p {
  text-align: left;
  margin-left: 5px;
}

.product-header {
  text-align: center;
  /* margin: auto; */
}

.product-header img {
  height: auto;
  width: 80vw;
  max-width: 400px;
  min-width: 240px;
  margin: auto;
}

.product-header h1 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 20px;
}

.product-header p {
  max-width: 350px;
  min-width: 300px;
  text-align: left;
  margin: 0px auto;
  padding: 20px;
  font-size: 0.8em;
}

/*Contact page*/

.contact-box h1 {
  text-align: center;
  font-family: 'Fjalla One',Verdana, sans-serif;
}

.main-contact-page {
  min-height: 100vh;
}

.contact-tiles {
 max-width: 1050px;
 margin: auto;
}

.contact-box {
  max-width: 400px;
  margin: 15px auto 15px auto;
  background: #FFF;
  padding: 10px;
}

.contact-box h1 {
  font-size: 1.4em;
  font-weight: bold;
}

.contact-box h2 {
  font-size: 1.2em;
  font-weight: bold;
}

.contact-box p {
  font-size: 1em;

}

.contact-info {
  max-width: 400px;
  margin: 15px auto 15px auto;
  padding: 10px;
  text-align: center;
  background: #FFF;
}

.contact-names {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: start;
}

.contact-names input {
  min-width: 90%;
  margin: 10px 0px;
  padding: 10px 5px;
}

.contact-form input, textarea {
  min-width: 97%;
  margin: 10px 0px;
  padding: 10px 5px;
}

.contact-send {
  display: inline-block;
  min-width: 40%;
}

/*About*/

  .about-text {
    text-align: center;
    max-width: 80%;
    min-width: 240px;
    margin: auto;
    padding: 20px;
  }

  .about-text h1 {
    font-family: 'Fjalla One',Verdana, sans-serif;
    font-size: 1.2em;
  }

  .about-text p {
    font-size: 0.8em;
  }

  .about-pictures {
    text-align: center;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .about-pictures img {
    height: auto;
    width: 90%;
    padding-bottom: 20px;
  }

/* Shopping cart */

.cart-header {
  background: #EBEBEB;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-header a {
  text-decoration: underline;
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.8em;
  padding: 10px;
}

.cart-logo {
  max-width: 115px;
  padding: 10px;
}

.main-cart {
  background: #EBEBEB;
}

.shopping-cart {
  height: auto;
  width: 90%;
  max-width: 1100px;
  margin: 0px auto 25px auto;
  background: #FFF;
}

.cart-giftcard {
  height: auto;
  width: 90%;
  max-width: 1100px;
  margin: 0px auto 25px auto;
  padding-bottom: 10px;
}

.main-cart h3 {
  font-size: 0.6em;
  padding: 3px 0px 3px 6px;
  font-family: 'Fjalla One',Verdana, sans-serif;
  letter-spacing: 0.1em;
}

.main-cart h1, h2 {
  font-size: 0.8em;
  padding: 3px 0px 3px 6px;
  margin: 0px;
  letter-spacing: 0.1em;
}

.cart-product-1,
.cart-product-2 {
  padding: 10px;
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto auto;
}

.header-black {
  height: auto;
  width: 100%;
  background: #000;
  color: #FFF;
  margin: auto;
}

.main-cart img {
  max-width: 50px;
  padding: 10px 0px 0px 0px;
  grid-row: 1/3;
}

.cart-product-name {
  font-size: 0.6em;
  padding: 0px 5px;
}

.cart-product-size {
  font-size: 0.5em;
  padding: 0px 5px;
  grid-row: 2;
  grid-column: 2;
}

.cart-product-price {
  font-size: 0.5em;
  padding: 0px 5px;
  grid-row: 2;
}

.cart-product-sum {
  grid-column: 4;
  font-size: 0.5em;
  font-weight: bold;
  grid-row: 2;
  text-align: right;
}

.cart-giftcard {
  background-color: #FFF;
}

.cart-giftcard-section input {
  padding: 5px;
  width: 225px;
  margin-left: 5px;
}

.gift-card-cta input {
  margin-top: 10px;
  padding: 5px;
  width: 50px;
  background-color: #000;
  color: #FFF;
  border: none;
}

.purchase-forms input {
  padding: 5px;
  margin-bottom: 5px;
  width: 40%;
  min-width: 225px;
  margin-left: 5px;
}

.purchase-forms p {
  font-size: 0.4em;
  margin: 0px 5px;
}

.complete-purchase {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  background: #FFF;
}

.purchase-complete-order input {
  padding: 5px;
  height: auto;
  width: 200px;
  background-color: #000;
  color: #FFF;
  border-style: none;
}

.delivery-box h4 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.8em;
  margin-left: 5px;
}

.delivery-box h5 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.6em;
  margin: 5px 0px 5px 5px;
}

.delivery-beige-box {
  width: 95%;
  height: auto;
  margin: 0px auto 0px auto;
  background: #FFF1C7;
}

.delivery-beige-box h6 {
  font-size: 1em;
  text-align: center;
  font-weight: lighter;
  margin: 0px auto 0px auto;
  padding-top: 15px;
}

.delivery-beige-box p {
  font-size: 0.8em;
  text-align: center;
  padding-bottom: 15px;
}

.cart-checkboxes {
  margin-left: 0px 10 0px 10px;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 5px;
  row-gap: 0px;
  max-width: 90%;
  margin: 30px auto;
  align-items: center;
}

.cart-checkboxes input {
  grid-column: 1;
  width: 25px;
  height: 25px;
}

.cart-checkboxes label {
  grid-column: 2;
  font-size: 0.8em;
  font-family: 'Fjalla One',Verdana, sans-serif;
  letter-spacing: 2px;

}

.cart-order-amount {
  background: #FFF1C7;
  width: 90%;
  height: auto;
  text-align: center;
  padding: 5px 0px;
  margin: auto;
}

.cart-order-amount h6 {
  font-size: 0.8em;
  font-weight: lighter;
  padding: 10px 0px 5px 0px;
  margin: 0px;
}

.cart-order-amount p {
  font-size: 0.8em;
  padding: 0px;
  margin: 0px;
  padding: 5px;
}

.cart-order-amount .cta-green {
  display: inline-block;
  margin: 5px 0px 10px 0px;
  background-color: green;
}

/*Success page*/

.confirmation-thank-you {
  height: auto;
  width: 90%;
  text-align: center;
  margin: 20px auto;
  border: 1px solid #8DE186;
}

.confirmation-thank-you img {
  max-width: 25px;
  padding: 10px;
}

.confirmation-thank-you h1 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 0px 20px;
}

.confirmation-thank-you p {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.8em;
  padding: 0px 20px 10px 20px;
}

.confirmation-shipping-address {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #8DE186;
}

.confirmation-shipping-address h2 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  padding: 20px 0px 10px 20px;
  font-size: 1em;
}

.confirmation-shipping-address p {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.8em;
  padding: 0px 0px 10px 20px;
}

.confirmation-shipping-method {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #8DE186;
}

.confirmation-shipping-method h3 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1em;
  padding: 10px 0px 10px 20px;
}

.confirmation-shipping-method p {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 0.8em;
  padding: 0px 0px 10px 20px;
}

.confirmation-save-details {
  width: 90%;
  border: 1px solid #8DE186;
  margin: 20px auto;
}

.confirmation-save-details h4 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  padding: 10px 0px 10px 20px;
  margin: 0px;
}

.details-form {
  padding: 0px 0px 10px 20px;
}

.details-form input {
  padding: 5px;
  width: 225px;
  margin: 10px 0px;
}

.user-account-button input {
  background: #34a853;
  color: #FFF;
  padding: 5px;
  border: none;
  width: 175px;
}

.confirmation-social-media {
  width: 90%;
  min-height: 120px;
  border: 1px solid #8DE186;
  margin: 20px auto;
}

.confirmation-social-media-icons {
  display: flex;
  justify-content: start;
  padding: 10px 0px 0px 10px;
}

.confirmation-social-media-icons .fa-brands {
  padding: 10px;
}

.confirmation-social-media h5 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-size: 1em;
  font-weight: lighter;
  padding: 10px 0px 10px 20px;
  margin: 0px;
}

/*jacket-specific*/

.product-main {
  height: auto;
  text-align: center;
  min-height: 100vh;
  width: 90%;
  max-width: 300px;
  margin: 0 auto;
}

.product-main img {
  width: 100%;
  max-width: 300px;
  grid-row: 1/5;
}

.product-main h1 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  text-align: left;
}

.jacket-specific-picture {
  grid-column: 1;
  grid-row: 1/6;
  padding-top: 50px;
}

.jacket-specific-title-and-heart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  grid-column: 2;
}

.jacket-specific-color {
  text-align: left;
  font-size: 0.8em;
  margin: 0px;
}

.jacket-specific-price {
  font-size: 0.8em;
  text-align: left;
  font-weight: bold;
}

.size-selector {
  display: flex;
}

.size-selector label {
  font-size: 0.8em;
  font-weight: bold;
  padding: 10px 10px 0px 0px;
}

.size-selector select {
  margin-top: 10px;
}

.purchase-button {
  margin: 30px 0px 20px 0px;
  text-align: left;
  grid-column: 2;
}

.purchase-button .cta-green {
  padding: 6px 10px;
  display: inline-block;
  min-width: 150px;
  text-align: center;
  background-color: green;
}

.product-main h2 {
  text-align: left;
  padding-left: 0px;
}

.jacket-specific-h2 {
  grid-column: 2;
}

.jacket-specific-info-text {
  grid-column: 2;
}

.product-info {
  font-size: 0.6em;
  text-align: left;
}

/*Footer*/

footer {
  background: #000;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

footer label {
  color: #FFF;
  padding-left: 20px;
  font-size: 0.8em;
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer p {
  color: #FFF;
  font-size: 0.6em;
}

footer ul {
  padding: 10px 30px;
  font-size: 0.6em;
}

footer li {
  padding: 5px;
}

.footer-text-customer-support {
  display: none;
}

.footer-text-rainydays {
  display: none;
}

#footer-rainydays-1:checked ~ .footer-text-rainydays {
  display: block;
}

#footer-rainydays-2:checked ~ .footer-text-customer-support {
  display: block;
}

#footer-rainydays-1,
#footer-rainydays-2 {
  display: none;
}

footer label {
  padding: 10px;
}

.footer-customer-club {
  text-align: center;
  padding: 25px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  text-align: center;
  max-width: 150px;
}

/*Media Queries*/

@media (min-width: 500px) {
  .frontpage-sale {
    background-image: url(../images/hero_photo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px auto 30px auto;
    min-width: 501px;
    min-height: 500px;
  }

  .frontpage-scott {
    background-image: url(../images/hero_photo_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px 0px 30px 0px;
    min-width: 501px;
    min-height: 650px;
  }

  #search {
    top: 106px;
    padding: 8px;
    right: 75px;
  }
  
  .search-button {
    top: 106px;
    padding: 9px;
  }

}

@media (min-width: 700px) {

  .main-header {
    border-top: solid 20px #000;
  }

  .frontpage-products-all {
    flex-direction: row;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }

  .giftcard {
    font-size: 0.7em;
  }

  .about-pictures {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    padding: 0px 20px 50px 20px;
  }

  .about-pictures img {
    height: auto;
    width: 100%;
    padding: 0px;
  }

  .about-text {
    max-width: 60%;
  }

  .main-cart img {
    max-width: 75px;
  }

  .cart-product-name,
  .cart-product-size,
  .cart-product-price,
  .cart-product-sum {
    font-size: 0.7em;
  }
}

@media (min-width: 800px) {

  .contact-names input {
    min-width: 45%;
    margin: 20px 10px;
  }

  nav {
    display: block;
    position: static;
    padding: 0px;
  }

  nav li {
    display: inline-block;
  }

  .fa-bars {
    display: none;
  }

  .contact-box {
    max-width: 500px;
    border: 1px solid #8DE186;
  }

  .contact-info {
    max-width: 500px;
    border: 1px solid #8DE186;
  }

  .contact-names {
    flex-direction: row;
    justify-content: center;
  }

  .contact-box h1 {
    text-align: left;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;

   }

   .footer-text-rainydays {
    display: block;
    grid-column: 1;
   }

   .footer-text-customer-support {
    display: block;
    grid-column: 2;
   }

   .footer-logo {
    grid-column: 3;
    grid-row: 2;
    margin: auto;
   }

   .footer-logo img {
    max-width: 300px;
    margin: auto;
   }

   .footer-customer-club {
    grid-column: 6;
   }

   footer label {
    font-size: 0.8em;
    grid-row: 1;
   }

   footer ul {
    font-size: 0.8em;
   }

   .product-header p {
    max-width: 400px;
    font-size: 0.8em;
   }

   .jacket-tile img {
    max-width: 300px;
  }

  .jacket-tile {
    margin: auto;
    max-width: 300px;
  }

  .jackets-for-sale {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    padding: 0px 50px 50px 0px;
  }
}

@media (min-width: 1000px) {
  .main-cart {
    display: grid;
    grid-template-columns: 70% 30%;
    max-width: 1100px;
    width: 100%;
    margin: auto;
    column-gap: 10px;
  }

  .main-cart input {
    font-size: 1em;
    padding: 10px;
  }

  .shopping-cart p {
    font-size: 1em;
  }

  .cart-product-1,
  .cart-product-2,
  .purchase-details
   {
    padding-left: 20px;
  }

  .cart-giftcard-section {
    padding-left: 10px;
  }

  .purchase-forms p {
    font-size: 0.8em;
    padding: 5px 5px 20px 5px;
  }

  .purchase-details h3 {
    font-size: 0.8em;
  }

  .delivery-box h4 {
    padding-top: 20px;
    font-size: 1em;
  }

  .delivery-box h5 {
    padding-bottom: 20px;
    font-size: 0.8em;
    font-weight: lighter;
  }

  .delivery-beige-box {
    width: 80%;
  }

  .cart-logo {
    padding: 20px;
    min-width: 150px;
  }

  .cart-header a {
    font-size: 1em;
  }

  .cart-header-link {
    margin-right: 20px;
  }

  .cart-body {
    background: #EBEBEB;
  }

  .main-cart h1, h2 {
    font-size: 1em;
  }

  .cart-order-amount {
    width: 50%;
    margin-bottom: 50px;
  }

  .confirmation-thank-you {
    max-width: 800px;
  }

  .main-confirmation-page {
    min-height: 100vh;
  }

  .lower-confirmation-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: auto;
  }

.cart-giftcard-section h3 {
  font-size: 0.8em;
}

.product-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 100px 50px 50px 50px 150px;
  max-width: 700px;
}

.purchase-button {
  text-align: right;
  margin-top: 0px;
}

.jacket-color-price {
  display: flex;
  grid-column: 2;
  justify-content: space-between;
  align-items: center;
}

.size-selector select {
  height: 25px;
}

.jacket-specific-title-and-heart {
  padding-top: 50px;
}

.jacket-specific-info-text {
  font-size: 1.4em;
}

.jacket-specific-h2 {
  font-size: 1.2em;
}

}

@media (min-width: 1200px) {

  .product-header {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 500px 500px;
    padding: 75px;
  }

  .product-header h1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
  }

.product-header p {
  grid-row: 1;
  grid-column: 2;
  }

.contact-tiles {
  display: flex;
}

.contact-box {
  margin-right: 20px;
  padding: 20px;
}

.contact-info {
  margin-left: 20px;
  padding: 20px;
}
}

@media (min-width: 1300px) {
  .frontpage-products {
    display: flex;
    justify-content: center;
  }

  .frontpage-products {
    max-width: 1400px;
    margin: auto;
  }
}

