/*body styling*/

body {
  margin: 0px;
  padding: 0px;
  font-family: Cantarell, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

.active {
  font-size: 1.1em;
}

/*Navigation bar*/

header img {
  max-width: 115px;
  padding: 10px;
}

header {
  border-top: solid 20px #000;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  max-height: 80px;
  position: relative;
}

header a {
  text-decoration: none;
  color: #000;
}

nav {
  display: none;
  background: #FFF;
  top: 105px;
  right: 0px;
  text-align: right;
  position: absolute;
  max-width: 800px;
  padding: 0px 25px;
}

nav li {
  display: block;
  padding: 10px 10px;
}

nav ul {
  padding-left: 0px;
}

nav a {
  font-weight: bold;
}

.fa-bars {
  padding-right: 10px;
}

#hamburger-menu {
  display: none;
}

 #hamburger-menu:checked ~ nav {
  display: block;
}

/*Buttons*/

.cta-black {
  font-size: 0.6em;
  border: solid 1px #FFF;
  padding: 4px 8px;
}

.cta-white {
  font-size: 1em;
  background: #FFF;
  color: #000;
  font-weight: bold;
  padding: 6px 12px;
}

/*Index Page*/

.giftcard {
  text-align: center;
  width: 100vw;
  font-size: 0.5em;
  background-color: #000;
  color: #FFF;
  padding: 2px 0px;
  margin: auto;
  display: block;
  text-decoration: none;
}

.frontpage-sale {
  background-image: url(../images/sale_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  color: #FFF;
}

.frontpage-sale h1 {
  font-size: 1.4em;
}

.frontpage-sale h2  {
  font-size: 1.2em;
}

.frontpage-scott {
  background-image: url(../images/scott_photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  height: 500px;
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  color: #FFF;
}

.frontpage-products h3 {
  text-align: center;
}

.frontpage-products-all {
  display: flex;
  flex-direction: column;
}

.frontpage-products-upper,
.frontpage-products-lower {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
  padding: 10px;
}

.frontpage-product-title-and-heart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.frontpage-products-upper p, h4  {
  margin: 0px 5px;
}

.frontpage-products-lower p, h4  {
  margin: 0px 5px;
}

.frontpage-products-all p {
  padding: 0px 5px;
}

.selected-offers {
  text-align: center;
  padding-bottom: 10px;
}

/*Product pages*/

.jacket-tile img {
  max-width: 250px;
}

.jacket-tile {
  margin: auto;
  max-width: 250px;
}

.jacket-tile p {
  text-align: left;
  margin-left: 5px;
}

.product-header {
  text-align: center;
  /* margin: auto; */
}

.product-header img {
  height: auto;
  width: 80vw;
  max-width: 400px;
  min-width: 240px;
  margin: auto;
}

.product-header h1 {
  font-family: 'Fjalla One',Verdana, sans-serif;
  font-weight: lighter;
  font-size: 1.2em;
  padding: 20px;
}

.product-header p {
  max-width: 350px;
  min-width: 300px;
  text-align: left;
  margin: 0px auto;
  padding: 20px;
  font-size: 0.8em;
}


/*Product category pages*/



/*Footer*/

footer {
  background: #000;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

footer label {
  color: #FFF;
  padding-left: 20px;
  font-size: 0.8em;
  text-decoration: underline;
}

footer a {
  text-decoration: none;
  color: #FFF;
}

footer p {
  color: #FFF;
  font-size: 0.6em;
}

footer ul {
  padding: 10px 30px;
  font-size: 0.6em;
}

footer li {
  padding: 5px;
}

.footer-text-customer-support {
  display: none;
}

.footer-text-rainydays {
  display: none;
}

#footer-rainydays-1:checked ~ .footer-text-rainydays {
  display: block;
}

#footer-rainydays-2:checked ~ .footer-text-customer-support {
  display: block;
}

#footer-rainydays-1,
#footer-rainydays-2 {
  display: none;
}

footer label {
  padding: 10px;
}

.footer-customer-club {
  text-align: center;
  padding: 25px;
}

.footer-logo {
  text-align: center;
}

.footer-logo img {
  text-align: center;
  max-width: 150px;
}

/*Media Queries*/

@media (min-width: 500px) {
  .frontpage-sale {
    background-image: url(../images/hero_photo_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px auto 30px auto;
    min-width: 501px;
    min-height: 500px;
  }

  .frontpage-scott {
    background-image: url(../images/hero_photo_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 30px 0px 30px 0px;
    min-width: 501px;
    min-height: 650px;
  }
}

@media (min-width: 700px) {

  .frontpage-products-all {
    flex-direction: row;
    padding: 20px;
    max-width: 800px;
    margin: auto;
  }

  .giftcard {
    font-size: 0.7em;
  }
}

@media (min-width: 800px) {

  nav {
    display: block;
    position: static;
  }

  nav li {
    display: inline-block;
  }

  .fa-bars {
    display: none;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;

   }

   .footer-text-rainydays {
    display: block;
    grid-column: 1;
   }

   .footer-text-customer-support {
    display: block;
    grid-column: 2;
   }

   .footer-logo {
    grid-column: 3;
    grid-row: 2;
    margin: auto;
   }

   .footer-logo img {
    max-width: 300px;
    margin: auto;
   }

   .footer-customer-club {
    grid-column: 6;
   }

   footer label {
    font-size: 0.8em;
    grid-row: 1;
   }

   footer ul {
    font-size: 0.8em;
   }

   .product-header p {
    max-width: 400px;
    font-size: 0.8em;
   }

   .jacket-tile img {
    max-width: 300px;
  }
  
  .jacket-tile {
    margin: auto;
    max-width: 300px;
  }

  .jackets-for-sale {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1000px;
    padding: 0px 50px 50px 0px;
  }
}

@media (min-width: 1200px) {

  .product-header {
    margin: auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 500px 500px;
    padding: 75px;
  }

  .product-header h1 {
    grid-column: 2;
    grid-row: 1;
    font-size: 1.5em;
    padding: 0px;
    margin: 0px;
  }

  .product-header p {
    grid-row: 1;
    grid-column: 2;
  }
}

@media (min-width: 1300px) {
  .frontpage-products {
    display: flex;
    justify-content: center;
  }

  .frontpage-products {
    max-width: 1400px;
    margin: auto;
  }
}

